.header-wrapper {
  position: relative;
  height: 90vh;
  overflow: hidden;
  background: #000000;
}

.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url('bg2.jpg');
  background-color: #202123;
  background-size: cover;
  background-position: center;
  animation: backgroundAnimation 20s infinite;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-info h1 {
  color: var(--primary-white) !important;
}

.main-info h6 {
  color: var(--primary-white) !important;
}

@media (max-width: 768px) {
  .main-info h1 {
    font-size: 1.9rem !important;
  }
  .main-info h6 {
    font-size: 0.8rem !important;
  }
  .typed-text {
    font-size: 1.6rem !important;
  }
  .btn-main-offer {
    font-size: 0.8rem !important;
  }
  .btn-my-work {
    font-size: 0.8rem !important;
  }
  .navbar-brand {
    width: 7rem !important;
  }
}

.typed-text {
  color: rgb(255, 0, 0);
  font-size: 2rem;
}

.btn-main-offer,
.btn-my-work,
.btn-resume {
  display: inline-block;
  padding: 0.6rem 1rem;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  border-radius: 0.3rem;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth hover effect */
}

.btn-main-offer {
  background-color: #f44336;
}

.btn-main-offer:hover {
  background-color: #e53935;
  transform: scale(1.1); /* Increase size smoothly on hover */
}

.btn-my-work {
  background-color: #2196f3;
  margin-left: 0.625rem;
}

.btn-my-work:hover {
  background-color: #1976d2;
  transform: scale(1.1); /* Increase size smoothly on hover */
}

.btn-resume {
  display: inline-flex;
  align-items: center;
  padding: 0.5rem 1rem; /* Smaller size */
  background-color: transparent;
  color: #4caf50;
  text-decoration: none;
  border-radius: 0.25rem;
  font-size: 0.875rem; /* Smaller font size */
  font-weight: bold;
  margin-top: 0.625rem;
  transition: color 0.3s ease, transform 0.3s ease; /* Smooth hover effect */
}

.btn-resume:hover {
  color: #81c784; /* Change text color on hover */
  transform: scale(1.1); /* Increase size smoothly on hover */
}

@keyframes backgroundAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
