@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Poppins&display=swap');

:root{
  --primary-white: #ffffff;
  --primary-orange: #bc5c09;
  --primary-dark:rgba(255,255,255,0);
    
}
body
{
font-family: 'Exo 2', sans-serif;
font-family: 'Poppins', sans-serif;

}
/* ......navbar....... */
.logo{
width: 6.25rem;
}

/* navbar_link */
nav a.nav-link{
/* font-weight:  500; */
letter-spacing: 0.038;
cursor: pointer;


}
nav ul li{
text-transform: uppercase;
}
.navbar-nav >li>a{
margin-right: 0.80rem;
margin-left: 0.80rem;
color:rgb(50, 116, 167);
border-top:0.1800rem solid var(--primary-dark);
}
.navbar-nav >li>a.active,.navbar-nav >li>a.active:focus{
border-top:0.1800rem solid var(--primary-white);
}
.navbar-nav >li>a:hover{
border-top:0.1800rem solid var(--primary-white);
}



.navbar-brand{
max-width: 17.25rem;
padding:1rem !important;  
/* padding-right: 2rem !important; */
height:5.4rem !important;
}
.logo {
  width: 3.5rem; /* Adjust the default width as desired */
  height: auto; /* Let the height adjust automatically based on the width */
  max-height: 100%; /* Ensure the logo doesn't exceed the container's height */
  /* color:red */
}


@media screen and (max-width: 768px) {
  /* Adjust the logo size for screens with a maximum width of 768px */
  .logo {
    width: 2.6rem; /* Adjust the width for smaller screens */
    margin-top: 0.2rem;
  }
}

.hamburbger{
color:#1595df;
}